<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sanjay.selectorphotolibrary">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".SelectedPhotoActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".PreviewActivity"
            android:theme="@style/AppTheme.NoActionBar" />


    </application>

</manifest>
